/* Estilos globais para o corpo da página */
body {
  font-family: 'Arial', sans-serif;
  background-color: #000; /* Fundo preto */
  color: #fff; /* Texto branco */
  margin: 0; /* Remover margens padrão */
  padding: 0; /* Remover preenchimento padrão */
}

/* Container principal centralizado */
.container {
  display: flex;
  flex-direction: column; /* Empilha os filhos verticalmente */
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  margin: 50px auto;
}

/* Estilos para seções contato e formulário */
.contato {
  flex: 1;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 20px;
  width: 100%; /* Ocupar toda a largura disponível */
  max-width: 800px; /* Limitar a largura para melhor leitura */
}

/* Estilos para títulos e textos */
.title {
  color: #333;
  font-size: 24px;
  padding: 5px;

}

.text {
  color: #555;
  font-size: 14px;
  margin-bottom: 20px;
  text-align: justify;
  padding: 5px;
}

.social-icons a, p {
  color: #3498db; /* Adiciona cor aos ícones da rede social */
  margin-right: 10px;
  text-decoration: none;
  align-items: center;
}

/* Estilos específicos para o formulário de contato */

/* Estilos para os campos de entrada e rótulos do formulário */
.input-container {
  position: relative;
  margin-bottom: 20px;
  width: 100%; /* Ocupar toda a largura disponível */
}

.input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  color: #333333;
  background-color: #fff;
  box-sizing: border-box; /* Evita problemas de tamanho com padding e borda */
}

label {
  position: absolute;
  top: -10px;
  left: 10px;
  color: #777;
  font-size: 14px;
  background-color: #fff;
  padding: 0 5px;
}

/* Adiciona algum espaçamento entre os rótulos e os inputs */
.input-container label {
  margin-right: 10px;
}

/* Botão de envio do formulário */
.btn {
  background-color: #3498db;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

/* Animação do botão ao passar o mouse */
.btn:hover {
  background-color: #2980b9;
}

.confirmation-message {
  margin-bottom: 10px;
  font-size: 14px;
  color: #333; /* Cor do texto */
}

