/* Reset de estilos padrão para elementos HTML */
html, body, div, h3, p, a, input, label, span, textarea, i {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  color: inherit;
  background: transparent;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;
  color: #333;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Centraliza no eixo horizontal */
  align-items: center; /* Centraliza no eixo vertical */
  max-width: 1200px;
  margin: 50px auto;
}

.form,
.contact-form {
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 8px;
  flex: 1;
  margin-bottom: 20px; /* Espaço entre as divs */
}

.form {
  margin-right: 20px;
}

.title {
  color: #333;
  font-size: 24px;
  margin-bottom: 10px;
}

.text {
  color: #555;
  font-size: 14px;
  margin-bottom: 20px;
}

.info,
.social-media {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.information,
.social-icons {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.information i,
.social-icons a {
  margin-right: 10px;
  color: rgb(242, 210, 2); /* Ícones amarelos */
}

.social-media p {
  margin-bottom: 10px;
}

.social-icons a {
  margin-right: 10px;
  color: #3498db;
  text-decoration: none;
}

/* Estilos do formulário de contato */

.contact-form {
  flex: 1;
}

.input-container {
  position: relative;
  margin-bottom: 20px;
}

.input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

label {
  position: absolute;
  top: 10px;
  left: 10px;
  color: #777;
  font-size: 14px;
  pointer-events: none;
  transition: 0.3s ease-out;
}

.input:focus + label,
.input:not(:placeholder-shown) + label {
  top: -10px;
  left: 5px;
  font-size: 12px;
  color: #3498db;
}

span {
  position: absolute;
  top: 30px;
  left: 10px;
  color: #e74c3c;
  font-size: 12px;
  visibility: hidden;
  transition: 0.3s ease-out;
}

.input:focus + label + span,
.input:not(:placeholder-shown) + label + span {
  top: 10px;
  visibility: visible;
}

.btn {
  background-color: #3498db;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.btn:hover {
  background-color: #2980b9;
}
